.u-center-text{text-align: center}

.u-margin-bottom{margin-bottom: 1.5rem}
.u-margin-top-small{margin-top: .5rem}
.u-margin-top-medium{margin-top: 2rem}
.u-margin-bottom-large{margin-bottom: 2rem}
.u-margin-top-mega{margin-top: 20rem}

.u-center-div{
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}