// GRID

$grid-horizontal-space: 4rem;
$grid-width: 70rem;
$grid-width-special: 10rem;
$grid-vertical-space: 1.5rem;

// COLORS

$background-color: #e65245;

$color-yellow: #fbc02d;
$color-pinky-yellow: #FBAB7E;
$color-vine: #ed213a;
$color-light-green: #73e600;
$color-light-yellow: #ffff00;
$color-green: #2db300;
$color-background-blue: #cfe0fc;
$color-background-blue-focus: #73a6ff;
$color-light-blue: #3567fc;
$color-dark-blue: #2443ff;
$color-placeholder: #c5ccd9;
$color-background-span-input: #919cb5;